body {
	margin: 0;
	background: black;
}

html,
body,
#root {
	height: 100%;
}

#root.pending::after {
	content: "⏯︎";
	cursor: progress;
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.4);
	font-size: 8em;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
